
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  .rectangleHeader{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
  }
  .logorectangle{
    background: #DE6A6A;
    width: 160px;
    height: 80px;
    margin-left: 330px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .logorectangle a {
    font-size: 40px;
    color: #FFFFFF;
  
  }
 .UserTables{
  margin-top: 1350px;
  margin-left: 500px;
  width:100%;
 }
  .table1, .table2, .table3 {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-collapse: collapse;
}

.table1 th, .table1 td, .table2 th, .table2 td, .table3 th, .table3 td {
 
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; 
    vertical-align: middle; 
}
.table-container {
  width:50%;
  max-height: 300px; 
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.table-container2 {
  width:60%;
  max-height: 300px; 
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  margin-left:-100px
}
.table3 th {
  background-color: #f5f5f5; 
}

.table1 th, .table2 th, .table3 th {
    color: #747474;
    background-color: #e4e4e4;
    font-weight: bold;
}

.table1 td button, .table2 td button, .table3 td button {
    color: #ffffff;
    font-size: 24px;
    background-color: #DE6A6A;
    font: inherit; 
    cursor: pointer; 
    outline: none; 
    border: none; 
    border-radius: 5px;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
}

.table1 tr:nth-child(even), .table2 tr:nth-child(even), .table3 tr:nth-child(even) {
    background-color: #f9f9f9;
}




  .PrevPage {
    /* margin-top: -990px;
    margin-left: 40px; */
    transform: translateY(30px); 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #DE6A6A;
    text-decoration: none;
    position:absolute;
}
  .input-main-page{
    position:absolute;
    width:200px;
    margin-top:-85px;
    margin-left:40px;
  }
  .ButtonRect {
    position: absolute;
    padding: 0; 
    margin-left: 550px;
    margin-top:-55px;
  }
  .text2{
    margin-top:20px;
  }
  .ButtonRect a {
    font-size:20px;
    display: inline-block;
    margin-right: 35px; 
    text-decoration: none;
    color: #0D057C;
  }
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* стиль формы */
.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Text4{
    position: absolute;
    font-size:30px;
    color: #000000;
    margin-left:650px;
    margin-top:160px; 
  }
  .Text5{
    position: absolute;
    font-size:30px;
    color: #000000;
    margin-left:0px;
    margin-top:-25px; 

  }
  .Text6{
    font-size:17px;
    color: #000000;
    padding:10px;
    font-weight: bold;
  }
.form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #0056b3;
}


.changes {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:600px;
    height:970px;
}
.upload_changes{
    margin-top:20px;
}
.changes form {
    max-width: 400px;
    margin: 0 auto;
}
.AirlineImg input{
    margin-top:30px;
}
.changes input[type="text"],
.changes input[type="number"] {
    z-index: 1;
    width: 560px;
    border: 1px solid rgb(224, 224, 224); 
    background-color: rgb(245, 245, 245); 
    padding: 8px;
    margin-left:20px;
    margin-top: 0px;
    margin-bottom: 10px;
  
}
.input-googleMapsLink textarea {
    width: 565px;
    height:200px;
    margin-left:18px;
    /* margin-top: 73px;   */
    border: 1px solid #ABABAB;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .input-description textarea{
    margin-top: 10px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    width: 565px;
    margin-left:18px;
    height:200px;
  }
  .input-description ::placeholder {
    
    color: #cacaca; 
    font-size:17px;
    padding:3px;
}
  
  .input-googleMapsLink ::placeholder {
    color: #cacaca; 
    font-size:17px;
    padding:3px;
}
.changes input[type="file"] {
    margin-top: 10px;
}
.input-create-profile button{
    position: absolute;
     margin-left: 17px;  
    color: #ffffff;
    width:565px;
    font-size:24px;
    height: 45px;
    background-color: #DE6A6A;
    font: inherit; 
    cursor: pointer; 
    outline: none; 
    border: none; 
    border-radius:5px;
  }
/* .changes button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.changes button:hover {
    background-color: #0056b3;
}

.city-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.city-form input[type="text"],
.city-form input[type="number"],
.city-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.city-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.city-form input[type="submit"]:hover {
    background-color: #0056b3;
} */

/* .description textarea {
    width: 600px;
    height: 300px;
} */

.BigRect{
    position:absolute;
    margin-top:200px;
    margin-left:650px;
}