body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.rectangleHeader{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}
.logorectangle{
    background: #DE6A6A;
    width: 160px;
    height: 80px;
    margin-left: 330px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.logorectangle a {
    font-size: 40px;
    color: #FFFFFF;

}
.flightName {
    color: #0d057c;
    font-weight: 600;
    position: absolute;
    left: 560px; /* Горизонтальное расположение */
    top: 35px; /* Вертикальное расположение */
    z-index: 15;
}
.CartImg{
    width: 30px;
    height: 30px;
    margin-left: 75%;
    margin-top:-2.7%;
    position: absolute;
    z-index: 7;
}
.price{
    margin-left: 77%;
    margin-top:-2.3%;
    position: absolute;
    font-size:14px;
    font-weight: bold;
}
.InfoBox{
    /* background-color: #32cd3f49; */
    width:320px;
    height:40px;
    margin-left:330px;
    margin-top: 30px;
}
.Info{
    font-weight:bold;
    color: #0d0768;
   }

   .Info2{
    font-size:13px;
    color: #70707a;
}

.Info3{
    font-size: 17px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 400px;
    position: absolute;
}

.Info4{
    font-size: 17px;
    margin-top: 95px;
    margin-left: 890px;
    position: absolute;
}
/* .ServiceBox {
    margin-top: 7%;
   
    width: 60%;
    height: 750%;
    margin-left: 19%;
    overflow-y: scroll; 

    display: flex; 
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
} */


/* .ServiceBox::-webkit-scrollbar {
    width: 20px; 
}

.ServiceBox::-webkit-scrollbar-thumb {
    background-color: rgb(90, 86, 114); 
    border-radius: 10px; 
}

.ServiceBox::-webkit-scrollbar-track {
   
    background-color: #E7E7E7; 
    width:10px;
   
} */
/* .ServiceCard {
    margin-top: -13.5%;
    background-color: #ffffff; 
    width: 98%;
    height: 70%;
    border-radius: 5px; 
    border: 2px solid #e7e7e7; 
} */

.ImgBox {
    width: 103.8%; 
    height: 300px; 
    overflow: hidden; 
    background-color: #6e3434; 
    margin-top:6%;
    padding: 0;
    margin-left: -20.1px;
}

.ImgBox img {
    width: 100%; 
    height: auto;
    padding: 0; 
}
.txt1{
    font-size: 30px;
    margin-top: 0.5%;
    margin-left: 2%;
    position: absolute;
}
.txt2{
    font-size: 40px;
    margin-top: 20.7%;
    margin-left: 4%;
    position: absolute;
}
.txt3{
    margin-left: 18.6%;
    margin-top: 1%;
}

.greyRect{
    width:0.15%;
    height: 10.8%;
    background-color: #e6e6e6; 
    position: absolute;
    margin-left: 16%;
    margin-top:19.5%;
}
.textrect{
    font-size: 13px;
    margin-top: 23%;
    width:4.5%;
    height: 2%;
    margin-left: 5.3%;
    position: absolute;
    border-radius: 10px;
    background-color: #C3FD7A;  
}


.ServiceBox {
    margin-top: 13%;
    width: 60%;
    height:1000%;
    margin-left: 20%;
    /* overflow-y: scroll; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ServiceCard {
    background-color: #ffffff;
    width: 98%;
    height: 80% !important; /* Изменяем высоту */
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.PriceBox{
    width:200px;
    height:150px;
    background: #DE6A6A;
    position: absolute;
    margin-top:-240px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 50px;
    color: #fafafa;
}

 /* .ImgBox {
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-color: #6e3434;
    margin-top: 10px; 
    position: relative; 
}  */
 /* .ImgBox img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}  */
.price1{
    margin-bottom: 10px;
    font-size: 15px;
    margin-left:80px;
   
}
.price2{
    margin-left:22px;
    margin-top:0px;
}
.price3{
    font-size: 15px;
    margin-left:55px;
}
.PricePlc{
    margin-top:20px;
    margin-left:1px;
}

.Button2{
    left:400px;
    top:265px;
    position: absolute;

}
.Button3{
    left:480px;
    top:265px;
    position: absolute;

}
.Button4{
    left:575px;
    top:265px;
    position: absolute;

}
.Button5{
    left:670px;
    top:265px;
    position: absolute;

}

.Button2, .Button3, .Button4, .Button5 {
    background-color: #DE6A6A;
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
    color: white; 
    font-size: 25px; 
    cursor: pointer; 
    border-radius: 5px;
}

.Button2.active, .Button3.active, .Button4.active, .Button5.active {
    background-color: grey; 
}



.BtnPlace {
    display: flex;
    color:#000000;
    margin-left: 270px;
    margin-top: 160px;
}
.ChooseButton2 {
   
    position: absolute;
    width: 50px;
    height: 50px; 
    margin-left: 200px;
}
.ChooseButton21 {
   
    position: absolute;
    width: 50px; 
    height: 50px; 
    margin-left: 300px;
}

.ChooseButton2 {
    width: 30px; height: 30px; 
    background-color: #DE6A6A;
    color: white; 
    font-size: 25px; 
    cursor: pointer; 
    border-radius: 50%; 
    border: none; 
}
.quantity{
    margin-left: 250px;
    margin-top: -12px; 
}
.ChooseButton21{
    width: 30px; height: 30px; 
    background-color: #DE6A6A;
    color: white; 
    font-size: 25px; 
    cursor: pointer; 
    border-radius: 50%; 
    border: none; 
}
.InfoButtonField {
    width:200px;
    height:100px;
    position: fixed;
    flex-direction: column;
    margin-right:1660px;
    margin-bottom: 900px;
}
/* Стили для модальных окон */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* .Open{
    display: none;

}    

.OpenWindow {
    position:absolute;
    width: 770px;
    margin-left:-227px;
    height: 150px;
    background-color: #ffffff;
    color: black;
    border-radius: 0 0 5px 5px; 
    border: 2px solid #e7e7e7;
    border-top: none; 
} */
.txt9{
    font-size: 30px;
    margin-left: 170px;
    margin-top: 0px;
    width:100px;
    height: 100px;
    color: #1d10cf7e;
}
.KgBtn{
    position:absolute;
    background-color: #DE6A6A;
    border: none; 
    padding: 3px 3px; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
    color: white; 
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 5px;
    left:130px;
    top:5px;
}
.ContinueButton{
    width: 120px; 
    height: 50px; 
    background-color: #DE6A6A;
    color: white; 
    font-size: 25px; 
    cursor: pointer; 
    border-radius: 5px; 
    border: none; 
    margin-top:40px;
    margin-left:970px;
}
