body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.rectangleHeader{
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}
.logorectangle{
  background: #DE6A6A;
  width: 160px;
  height: 80px;
  margin-left: 330px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.logorectangle a {
  font-size: 40px;
  color: #FFFFFF;

}
.flightName {
  color: #0d057c;
  font-weight: 600;
  position: absolute;
  left: 560px; 
  top: 35px; 
  z-index: 15;
}
.CartImg{
  width: 30px;
  height: 30px;
  margin-left: 75%;
  margin-top:-2.7%;
  position: absolute;
  z-index: 7;
}
.price{
  margin-left: 77%;
  margin-top:-2.3%;
  position: absolute;
  font-size:14px;
  font-weight: bold;
}
.InfoBox{
  /* background-color: #32cd3f49; */
  width:360px;
  height:40px;
  margin-left:330px;
  margin-top: 30px;
}
.Info{
  font-weight:bold;
  color: #0d0768;
 }

 .Info2{
  font-size:13px;
  color: #70707a;
}

.Info3{
  font-size: 17px;
  font-weight: bold;
  margin-top: 90px;
  margin-left: 400px;
  position: absolute;
}

.Info4{
  font-size: 17px;
  margin-top: 95px;
  margin-left: 890px;
  position: absolute;
}
  .RezBox5{
    position:absolute;
    margin-left:450px;
    margin-top:200px;
    width:1000px;
    height:1350px;
    background-color: #FFFFFF;
    /* border-radius: 10px; */
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    justify-content: space-between;
  }
  .GreyPlc{
    background-color: #f5f5f5;
    width:100%;
    height:40px;
}
.Infotxt1{
    font-size: 20px;
    margin-left: 8px;
    position: absolute;
    margin-top: 8px;
  }
  .ChildPlc{
    position: absolute;
    margin-top: 600px;
    margin-left:500px;
    z-index: 5;
  }
  .AddChildrenForm select,
.AddChildrenForm input {
  z-index: 1;
  /* position: absolute; */
  border: 1px solid rgb(224, 224, 224); 
  background-color: rgb(245, 245, 245); 
  padding: 8px;
  margin-left:20px;
  margin-top: 0px;

}
.AddChildrenDiv{
  margin-left:320px;
  margin-top:-310px;
}
.AddChildrenForm label{
  z-index: 1;
  /* position: absolute; */
  padding: 8px;
  margin-left:20px;
  margin-top: 10px;

}
.AddChildrenForm label {
  display: block;
  margin-bottom: 0px; 
}
.add-btn{
  color: #ffffff;
  position: absolute; 
  margin-left: 20px;
  background-color: #DE6A6A;
  width: 180px;
  height: 45px;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
margin-top: 20px;
}
.add-btn2{
  color: #ffffff;
  position: absolute; 
  margin-left: -170px;
  background-color: #DE6A6A;
  width: 180px;
  height: 45px;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
  margin-top: 4px;
}
.ButtonBox {
  position: absolute;
  margin-top:950px;
  margin-left:1200px;
}
.downloadBtn3{
  position: absolute;

  color: #ffffff;
  position: absolute; 
  
  background-color: #DE6A6A;
  width: 120px;
  height: 40px;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
  margin-top: 895px;
  margin-left: 1260px;
}
.UserTables_table2 {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
  margin-top:600px;
}

.UserTables_table2 th, .UserTables_table2 td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; 
  vertical-align: middle; 
}

.UserTables_table2 th {
  background-color: #e4e4e4;
  color: #747474;
  font-weight: bold;
}

.UserTables_table2 tr:nth-child(even) {
  background-color: #f9f9f9;
}

.UserTables_table2 td button {
  color: #ffffff;
  font-size: 16px;
  background-color: #DE6A6A;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px); 
  margin-top:5px;
  height: 20px; 
  box-sizing: border-box;
}
