body {
    background-color: rgb(255, 255, 255);
}
.img1 img {
    right:25px;
    bottom: 150px; 
    position: relative;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    width: 1920px;
    height: 980px;

}

.Ticket_box {
    background-color: #EDEDED;
    width: 1620px;
    height: 1920px;
    margin: 40px auto 0; /* 20px отступ сверху, горизонтальное центрирование */
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Вертикальное центрирование */
}



.Ticket_card {
    width: calc(25% - 10px); /* 25% ширины, 10px отступы между карточками */
    margin: 10px; /* Отступы между карточками */
    background-color: #ffffff;
    width:450px;
    height: 400px;
    margin-left: -1130px;
    margin-top: -1460px;

}
.Ticket_card img{
    width:450px;
    height: 200px;
}
.text1{
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color:#6B6B6B;
}
.text3{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color:#000000;
    font-size: 25px;
}
.text2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #4E8F36;
    width: 110px;
    height: 22px;
    background-color: #C3FD7A;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 330px;
    margin-top: -17px;
}

