body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
.ButtonRect {
  position: absolute;
  padding: 0; 
  margin-left: 550px;
  margin-top:-55px;
}

.ButtonRect a {
  font-size:20px;
  display: inline-block;
  margin-right: 35px; 
  text-decoration: none;
  color: #0D057C;
}
.rectangleHeader{
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}
.logorectangle{
  background: #DE6A6A;
  width: 160px;
  height: 80px;
  margin-left: 330px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.logorectangle a {
  font-size: 40px;
  color: #FFFFFF;

}
.input-data  select {
  z-index: 1;
  position: absolute;
  border: 1px solid #afafaf;
  background-color: rgb(245, 245, 245); 
  padding: 8px;
  width:250px;
margin-top:-5px;
}
.input-data  input {

  border: 1px solid #afafaf;
  background-color: rgb(245, 245, 245); 
  padding: 8px;
  width:250px;
margin-top:-5px;
}
.BackButton{
     text-decoration: none;
    margin-top: -85px;
    margin-left:40px;
    position: absolute;
    transform: translateY(30px); 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #DE6A6A;
}

.img1 img {
    right:25px;
    bottom: 150px; 
    position: relative;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    width: 1920px;
    height: 980px;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.InfoName1 {
  position: absolute;
  margin-left: 395px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.changebtn1 {
  margin-bottom: 5px; 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.Ticket_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #EDEDED;
    width: 1620px;
    margin: 0px auto 0; 
    align-items: flex-start; 
    padding-top: 20px; 
}

.Ticket_card {
    margin: 10px; 
    background-color: #ffffff;
    width: 450px;
    height: 440px;
    margin-bottom: 10px; 
    border-radius: 10px;
}


.Ticket_card img {
    width: 450px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}
.text1{
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color:#6B6B6B;
}
.text3{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color:#000000;
    font-size: 20px;

}
.text2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #4E8F36;
    width: 110px;
    height: 22px;
    background-color: #C3FD7A;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 330px;
    margin-top: -17px;
}
.rectangle1{
    width:410px;  
    height: 80px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background: #FFF;
    margin-top: 15px;
    margin-left: 20px;
}
.BookingBtn{
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Nunito Sans', sans-serif;
    width:410px;
    height: 50px;
    background-color: #DE6A6A;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.BookingBtn:hover {
    background-color: #C3FD7A;
  }
  .text4{
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 24px;
    margin-left: 15px;
  }
  .text5{
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: -43px;
    margin-left: 330px;
  }
  .text6{
    font-family: 'Nunito Sans', sans-serif;
    color: #475FDB;
    margin-left: 330px;
    font-size: 12px;
  }
  .text7 {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 295px;
    font-size: 12px;
    margin-top: -45px;
    font-weight: 600; 
}
.search_place {
    background-color: #EDEDED;
    width: 1620px;
    height: 160px;
    margin: 40px auto 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly; 
    top: 40px;
}


  .box1-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.box1-input label {
    color: #c0c0c0;
    left:0;
    pointer-events: none;
  }

.box1-input .input-data{
    height: 50%;
    width: 100%;
  }
  
.box1-input .input-data input{
    height: 100%;
    width: 100%;

  }
  .box1-input .input-data label{
    bottom: 20px;

  }
  .box1-input input[type="text"] {
    border: none;
    background-color: #ffffff;
    color: rgba(87, 17, 17, 0.671);
    font-size: 16px;
    border-radius: 0px; 
    border:none; 
    border-bottom: 2px solid silver;
    
  } 
  .Search_button:hover {
    background-color: #DE6A6A;
  }
  .search form {
    display: flex;
    flex-wrap: wrap;
  }
  .Search_button {
    display: block;
    width: 310px;
    height: 85px;
    margin-top: -30px;
    margin-left: -30px;
    background-color: rgb(161, 161, 161);
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 50px 50px 0;
    text-align: center; 
    font-size: 30px;
    background: #fcfcfc;
    transition: background-color 0.3s ease;
    line-height: 80px; 
    text-decoration: none;
    color: black;
  }
  .input-data input::placeholder {
    color: #dadada;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.toggle-button {
    position: fixed;
    top: 200px;
    left: 10px; 
    padding: 10px;
    background-color: #C3FD7A;
    color: #2b2b2b;
    border: none;
    cursor: pointer;
    z-index: 2;
    width: 5%;
    height: 5%;
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    top: 250px;
    left: -300px; 
    width: 300px;
    height: 70vh;
    background-color: #f7f7f7;
    z-index: 1;
    transition: left 0.3s ease; 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

.sidebar.open {
    left: 0; 
}
.toggle-button img{
    width: 30px;
    height: 30px;
}
.sidebarText1{
    font-size: 30px;
    color: #000000;
    margin-top: 20px;
    margin-left:15px;

}


.slider {
    width: 70%;
    margin-top: -5px; 
    margin-left: 15px;
}

.CurrentValue,
.equal,
.MaxValue {
    padding-top: 30px;
    display: inline-block;
    vertical-align: top; 
    margin-top: -5px; 
}

.CurrentValue {
    margin-left:65px;
    font-size: 27px;
    margin-right: 5px;
}

.equal,
.MaxValue {
    font-size: 27px;
    margin-bottom: 8px;
}
.BookingBtnA {
    text-decoration: none; 
    font-family: 'Nunito Sans', sans-serif;
    width: 410px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1); 
    color:#ffffff;
    border: none; 
}

