body {
    background-color: rgb(255, 255, 255);
}
.img1 img {
    right:25px;
    bottom: 150px; 
    position: relative;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    width: 1920px;
    height: 980px;

}

.Ticket_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #EDEDED;
    width: 1620px;
    margin: 40px auto 0; /* 20px отступ сверху, горизонтальное центрирование */
    align-items: flex-start; /* Изменено на flex-start, чтобы выровнять элементы по верхнему краю */
    padding-top: 20px; /* Добавлен отступ сверху */
}

.Ticket_card {
    margin: 10px; /* Отступы между карточками */
    background-color: #ffffff;
    width: 450px;
    height: 440px;
    margin-bottom: 10px; /* Добавлен отступ снизу, чтобы создать пространство между карточками */
}


.Ticket_card img {
    width: 450px;
    height: 200px;
    object-fit: cover; /* Сохраняет пропорции, заполняя контейнер */
}
.text1{
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color:#6B6B6B;
}
.text3{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color:#000000;
    font-size: 20px;

}
.text2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #4E8F36;
    width: 110px;
    height: 22px;
    background-color: #C3FD7A;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 330px;
    margin-top: -17px;
}
.rectangle1{
    width:410px;  
    height: 80px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background: #FFF;
    margin-top: 15px;
    margin-left: 20px;
}
.BookingBtn{
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Nunito Sans', sans-serif;
    width:410px;
    height: 50px;
    background-color: #DE6A6A;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.BookingBtn:hover {
    background-color: #C3FD7A;
  }
  .text4{
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 24px;
    margin-left: 15px;
  }
  .text5{
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: -33px;
    margin-left: 330px;
  }
  .text6{
    font-family: 'Nunito Sans', sans-serif;
    color: #475FDB;
    margin-left: 330px;
    font-size: 12px;
  }
  .text7 {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 295px;
    font-size: 12px;
    margin-top: -35px;
    font-weight: 600; /* Увеличенное значение для более толстого текста */
}