
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* загрузить нормальный видос */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.background-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px); 
}


.custom-rectangle {
    width: 1520px;
    height: 1050px;
    border-radius: 50px;
    background: #F5F5F5;
    margin: auto;
    z-index: 1;
    position: relative; 
}

.custom-rectangle2 {
    width: 15px;
    height: 1050px;
    background: #D9D9D9;
    z-index: 2;
    position: absolute;
    right: 1047px; 
}
.GoogleMap {
    width: 1045px;
    height: 1046px;
    left: 473px; 
    z-index: 2;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden; 
}


.Image {
    margin-left: 11px;
    margin-top: 20px; 
    width: 438px;
    height: 468px;
    border-radius: 10px;
    overflow: hidden;
}


.Image img {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
.text1{

    font-family:'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 20px;
}
.text2 {
    margin-top: 20px;
    margin-left: 10px;
    font-family:'Nunito Sans', sans-serif;
    width: 437px;
    height: 350px;
    overflow: hidden; 
    font-size: 20px;
}
.PrevPage {
    margin-top: 50px;
    margin-left: 40px;
    transform: translateY(30px); 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #DE6A6A;
}

.PrevPage a {
    text-decoration: none;
    outline: none; 
    color: #DE6A6A;
}
.button1{
    margin-left: 70px;
    margin-top: 20px;
    width: 300px;
    height: 60px;
    background: #DE6A6A;
    border-radius: 50px;
    border: #DE6A6A;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.custom-rectangle2L {
    width: 1520px;
    min-height: 1050px;
    border-radius: 50px;
    background: #F5F5F5;
    margin: auto;
    z-index: 1;
    position: relative;
    transform: translateY(10px);
    margin-bottom: 10px; 
}


.CommentsPlace {
    background: #4caf50;
    width: 1520px;
    height: 120px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: absolute;
    top: 0px;

}

.text3 {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Nunito Sans', sans-serif;
    width: 700px;
    height: 350px;
    overflow: hidden;
    font-size: 50px;
    color: #F5F5F5;

}

.text4 {
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
    font-size: 25px;
    color: #000000;
    margin-top: -200px;
    margin-left: 30px;
}
.text5 {
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
    font-size: 20px;
    color: #000000;
    margin-top:30px;
    margin-left: 30px;

    padding-right:20px;
}
.Image2 {
    text-align: center; 
    position: relative; 
}

.Image2 img {
    width: 100%; 
    height: auto;
    margin: 0 auto; 
    position: relative;
}

.buttonBox1 {
    width: 200px;
    margin-left: 300px;
    bottom: 191px;
    left: -10px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}

.buttonBox1 button {
    background-color: #06dd0d;
    width: 30px;
    height: 30px;
    margin-right: 16px; 
    margin-top: 5px; 
    margin-bottom: 1px; 
    transition: background-color 0.3s ease; /*плавный переход для цвета */
}
.buttonBox1 button.active {
    background-color: rgb(252, 252, 123); /* Новый цвет при активации */
}


.buttonBox2{
    width: 200px;
    margin-left: 300px;
    bottom:86px;
    left:-10px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}
.buttonBox2 button {
    background-color:#06dd0d;
    width: 30px;
    height: 30px;
    margin-right: 16px; 
    margin-top: 5px; 
    margin-bottom: 1px; 
    transition: background-color 0.3s ease; 
    
}
.buttonBox2 button.active {
    background-color: rgb(252, 252, 123); 
}
.buttonBox3 {
    width: 160px;
    margin-left: 300px;
    bottom: 185px;
    left: 200px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}


.buttonBox3 button {
    text-align: right;
    font-size: 9px;
    width: 100%; 
    padding-left: 2px;
    transition: background-color 0.3s ease; 
}
.buttonBox3 button.active {
    background-color: rgb(252, 252, 123); 
}
.buttonBox3 button {
    background-color:#06dd0d;
    width: 25px;
    height: 25px;
    margin-right: 14px; 
    margin-top: 1px; 
    margin-bottom: 0px; 
    padding-left: 2px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
.buttonBox4{
    width: 160px;
    margin-left: 300px;
    bottom:85px;
    left:200px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}
.buttonBox4 button {
    background-color:#06dd0d;
    width: 25px;
    height: 25px;
    margin-right: 14px; 
    margin-top: 1px; 
    margin-bottom: 0px; 
    font-size: 9px;
    padding-left: 2px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
.buttonBox4 button.active {
    background-color: rgb(252, 252, 123); 
}
.buttonBox5{
    width: 160px;
    margin-left: 300px;
    bottom:185px;
    left:358px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    
}
.buttonBox5 button {
    background-color:#06dd0d;
    width: 25px;
    height: 25px;
    margin-right: 14px; 
    margin-top: 1px; 
    margin-bottom: 0px; 
    font-size: 9px;
    padding-left: 2px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
.buttonBox5 button.active {
    background-color: rgb(252, 252, 123); 
}
.buttonBox6{
    width: 160px;
    margin-left: 300px;
    bottom:85px;
    left:358px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}
.buttonBox6 button {
    background-color:#06dd0d;
    width: 25px;
    height: 25px;
    margin-right: 14px; 
    margin-top: 1px; 
    margin-bottom: 0px; 
    font-size: 9px;
    padding-left: 3px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
.buttonBox6 button.active {
    background-color: rgb(252, 252, 123); 
}
.buttonBox7{
    width: 550px;
    margin-left: 300px;
    bottom:185px;
    left:510px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}
.buttonBox7 button {
    background-color:#06dd0d;
    width: 25px;
    height: 25px;
    margin-right: 6px; 
    margin-top: 1px; 
    margin-bottom: 0px; 
    font-size: 9px;
    padding-left: 3px; 
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
.buttonBox7 button.active {
    background-color: rgb(252, 252, 123); 
}
.buttonBox8{
    width: 550px;
    margin-left: 300px;
    bottom:85px;
    left:510px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
}
.buttonBox8 button {
    background-color: #06dd0d;
    width: 25px;
    height: 25px;
    margin-right: 6px; 
    margin-top: 1px; 
    margin-bottom: 0px; 
    font-size: 9px;
    padding-left: 3px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
.buttonBox8 button.active {
    background-color: rgb(252, 252, 123); 
}
.BestComment {
    width: 1520px;
    min-height: 100px;
    background: #F5F5F5;
    margin: auto;
    z-index: 999;
    position: relative;
    transform: translateY(10px);
    margin-top:0px;
    top:-260px;
}
.CommText h1{
    font-size: 30px;
    border: none;
    font-family:'Nunito Sans', sans-serif;
    margin-left: 80px; 
    margin-top:-57px;
}
.CommText a {
    margin-top: 20px;
    font-family:'Nunito Sans', sans-serif;
    overflow: hidden; 
    font-size: 20px;
}
.BestComment .textSize{
    margin-left: 40px;
    width:1460px;

}
.rectangle4{
    background:#ACACAC;
    margin-top:15px;
    width: 1430px;
    height:3px;
}
