.search{
  bottom: 840px; 
}

.search-link {
  left: 30px;
  width: 100px;
  height: 100px;
  background-size: cover;
  text-indent: -9999px;
}
  ::placeholder {
    color:#cacaca;
   }
  .pict5{
    transform: translateY(-18px);
    padding-left: 15px;
  }
  .text-overlay {
      position: absolute;
      top: 57%; 
      left: 40%; 
      transform: translateX(-30%); 
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      color: #000000;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      font-size: 20px;
      z-index: 1; 
  }
 
  .txt3{
    left:390px;
    top:2350px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 30px;
  }
  .pict4{
  position: relative;
  display: flex; 
  justify-content: center;
  justify-content: space-evenly;
  z-index: 997;
  width: 100%;
  height: 100px;
  bottom: 2200px;
 
  }
.pict3{
  right:25px;
  bottom: 150px; 
  position: relative;
  display: flex; 
  justify-content: center;
  justify-content: space-evenly;
  z-index: -4;
  width: 1920px;
  height: 1080px;
}
.rect2{
  right:700%;
  top: -273%;
  width: 1200%;
  height: 7%;
  z-index: -3;
  background-color: #666666;
  position: relative;
  display: flex; 
  justify-content: space-between;
  justify-content: space-evenly;
}
body .txt1 {
  right: 20%;
  top: 180px;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 30px;
  letter-spacing: 0.145em;
}
.txt2{
  right: 38%;
  top: 999px;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
}
.rect1{
  top: -109%;
  z-index: -3;
  bottom: 20px;
  position: relative;
  display: flex; 
  right:300%;
  justify-content: space-between;
  justify-content: space-evenly;
  width: 470%;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.5) 
}
 .search {

  max-width: 1920px;
  width: 1000%;
    justify-content: space-between;
    justify-content: space-evenly;
    display: flex; 
    position: relative;
    align-items: center;
    flex-direction: row;
    height: 900px;
    justify-content: center;
     right: 1%; 
}  
  
.box1-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.box1-input label {
    color: #c0c0c0;
    left:0;
    pointer-events: none;
  }

.box1-input .input-data{
    height: 50%;
    width: 100%;
  }
  
.box1-input .input-data input{
    height: 100%;
    width: 100%;

  }
  .box1-input .input-data label{
    bottom: 20px;

  }
  .box1-input input[type="text"] {
    border: none;
    background-color: #ffffff;
    color: rgba(87, 17, 17, 0.671);
    font-size: 16px;
    border-radius: 0px; 
    border:none; 
    border-bottom: 2px solid silver;
    
  } 
  
  /* .box1-input input[type="text"]:focus {

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }  */

  .gallery-grid {
    
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 1;
}

.gallery-grid * {
  bottom:900px;
    box-sizing: border-box;
}

.gallery-item {
    width: 33.33%;
    margin: 15px 0;
    padding: 0 40px;
}
  .grid-item__inner{
    position: relative;
    display: flex;
    cursor:pointer;
  }
  .grid-item__inner:hover::before{
    opacity: 1;

  }
  .grid-item__img{
    width: 120%;
    height: 120%;
    object-fit: cover;

  }
  .grid-item_title{
    position: absolute;
    left: 7px;
    bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    overflow: hidden;
  }
  .grid-item_title > button{
    display: block;
    transform: translateY(45px);
    transition: transform .4s ease;
    background: #DE6A6A;
    border-radius: 50px;
    width: 350px;
    height: 43px;
    border:#DE6A6A;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .grid-item__inner:hover .grid-item_title > button{
    transform: translateY(0);
  }
  .place1{
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 36px;
    top: 45%;
    left: 7px;

  }
  .place2{
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    top: 55%;
    left: 7px;

  }
  .place3{
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 38px;
    top: 58%;
    left: 7px;
  }

  .grid-item__inner1{
    top: 20px;
    position: relative;
    display: flex;
    cursor:pointer;
  }
  .grid-item__inner1:hover::before{
    opacity: 1;

  }
  .grid-item__inner1:hover .grid-item_title > button{
    transform: translateY(0);
  }

  
 .boxdiv{
  transform: translateY(-18px);
} 

  body {
    margin: 0;
  }

nav {
  z-index:999 ;
  position: fixed;
  padding: 0;
  margin: 0;
  text-decoration:none;
  list-style: none;
  box-sizing: border-box;
  background: #3d3d3d;
  height: 75px;
  width:100%;
  font-family:'Nunito Sans', sans-serif;
    
}
select.dropdown-menu {
  font-family: 'Nunito Sans', sans-serif;
  background: #3d3d3d;
  color: white;
  font-size: 15px;
  padding: 7px 7px;
  border-radius: 3px;
  z-index: 999;
  text-transform: uppercase;
  border: none; 
  appearance: none; 
  height: 72px;
  width: 70px;
  margin-top:4px;
}

select.dropdown-menu:focus {
  outline: none; 
}

/* Стили для dropdown списка */
option.dropdown-menu-content {
  font-family:'Nunito Sans', sans-serif;
  background: #dfdfdf;
}


label.pict1{
color: #ffffff;
font-size: 30px;
line-height: 80px;
padding: 0 20px;
font-weight: bold;

}


nav ul{
  list-style: none;
  padding: 0;
  display: flex; 
  margin-left: 20px; 
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0 5px;

}
nav ul li a{
  text-decoration: none;
  color:white;
  font-size: 15px;
  padding: 7px 7px;
  border-radius: 3px;
  z-index: 999;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition:.5s ;
}
a.special-link {
  background: none;
  transform: translate(20px, 5px); /* Сдвиг вправо и вниз */
}

.checkbtn{
  font-size: 30px;
  color:rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  margin-right:40px;
  cursor: pointer;
} 

#check{
  display: none;
}
@media (max-width:952px){
  label.pict1{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width:858px){
  .checkbtn{
    display: block;

  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left:0;

  }
}

footer {
  background-color: #333;
  color: #fff; 
  padding: 20px; 
  text-align: center; 
  font-family:'Nunito Sans', sans-serif;
}

.footer-content {
  max-width: 800px; 
  margin: 0 auto; 
}
.social-links a {
  color: #fff; 
  text-decoration: none; 
}


.special-link {
  z-index: 999;
  position: absolute;
  margin-top: -105px;
  /* top: 147%;  */
  transform: translateY(-145%); 
  right: 100px; 
}
.special-link2 {
  z-index: 999;
  position: absolute;
  margin-top: 0px;
  transform: translateY(-145%); 
  right: 100px; 
}
.sample-slider {
  width: 70%;
  height: 50%;
  bottom: 800px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 1;
  left: 30px;
  padding: 0;
}

.sample-slider img {
  width: 100%;
  padding: 0;
}
.Search_button {
  display: block;
  width: 310px;
  height: 85px;
  margin-top: -30px;
  margin-left: -30px;
  background-color: rgb(161, 161, 161);
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 50px 50px 0;
  text-align: center; 
  font-size: 30px;
  background: #fcfcfc;
  transition: background-color 0.3s ease;
  line-height: 80px; 
  text-decoration: none;
  color: black;
}

.Search_button:hover {
  background-color: #DE6A6A;
}
.search form {
  display: flex;
  flex-wrap: wrap;
}

.box1-input input[type="date"] {
  font-size: 15px;
  border: none;
  font-family:'Nunito Sans', sans-serif;
  color: #c0c0c0;
}

.special-link4{
  margin-right:60px;
  z-index: 999;
  position: absolute;
  margin-top: -55px;
  /* top: 147%; */
  transform: translateY(-145%); 
  right: 110px; 
}
.special-link4:hover {
  background-color: initial; 
  color: initial; 
}