
  ::placeholder {
    color:#858585;
   }
  .pict5{
    transform: translateY(-18px);
    padding-left: 15px;
  }
  .text-overlay {
      position: absolute;
      top: 57%; 
      left: 40%; 
      transform: translateX(-30%); 
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      color: #000000;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      font-size: 20px;
      z-index: 1; 
  }
 
  .txt3{
    left:390px;
    top:2350px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 30px;
  }
  .pict4{
  position: relative;
  display: flex; 
  justify-content: center;
  justify-content: space-evenly;
  z-index: 997;
  width: 100%;
  height: 100px;
  bottom: 2200px;
 
  }
.pict3{
  right:25px;
  bottom: 150px; 
  position: relative;
  display: flex; 
  justify-content: center;
  justify-content: space-evenly;
  z-index: -4;
  width: 1920px;
  height: 1080px;
}
.rect2{
  right:700%;
  top: -273%;
  width: 1200%;
  height: 7%;
  z-index: -3;
  background-color: #666666;
  position: relative;
  display: flex; 
  justify-content: space-between;
  justify-content: space-evenly;
}
body .txt1 {
  right: 20%;
  top: 180px;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 30px;
  letter-spacing: 0.145em;
}
.txt2{
  right: 38%;
  top: 999px;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
}
.rect1{
  top: -109%;
  z-index: -3;
  bottom: 20px;
  position: relative;
  display: flex; 
  right:300%;
  justify-content: space-between;
  justify-content: space-evenly;
  width: 470%;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.5) 
}

  .gallery-grid {
    
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 1;
}

.gallery-grid * {
  bottom:-70px;
    box-sizing: border-box;
}

.gallery-item {
    width: 33.33%;
    margin: 15px 0;
    padding: 0 40px;
}
  .grid-item__inner{
    position: relative;
    display: flex;
    cursor:pointer;
  }
  .grid-item__inner:hover::before{
    opacity: 1;

  }
  .grid-item__img{
    width: 120%;
    height: 120%;
    object-fit: cover;

  }
  .grid-item_title{
    position: absolute;
    left: 7px;
    bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    overflow: hidden;
  }
  .grid-item_title > button{
    display: block;
    transform: translateY(45px);
    transition: transform .4s ease;
    background: #DE6A6A;
    border-radius: 50px;
    width: 350px;
    height: 43px;
    border:#DE6A6A;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .grid-item__inner:hover .grid-item_title > button{
    transform: translateY(0);
  }
  .place1{
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 36px;
    top: 45%;
    left: 7px;

  }
  .place2{
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    top: 55%;
    left: 7px;

  }
  .place3{
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 38px;
    top: 58%;
    left: 7px;
  }

  .grid-item__inner1{
    top: 20px;
    position: relative;
    display: flex;
    cursor:pointer;
  }
  .grid-item__inner1:hover::before{
    opacity: 1;

  }
  .grid-item__inner1:hover .grid-item_title > button{
    transform: translateY(0);
  }

  
 .boxdiv{
  transform: translateY(-18px);
} 

  body {
    margin: 0;
  }




label.pict1{
color: #ffffff;
font-size: 30px;
line-height: 80px;
padding: 0 20px;
font-weight: bold;

}



a.special-link {
  background: none;
  transform: translate(20px, 5px); 
   
}


footer {
  background-color: #333;
  color: #fff; 
  /* padding: 20px;  */
  width:99.9%;
  text-align: center; 
  font-family:'Nunito Sans', sans-serif;
  margin-top:-755px;
}

.footer-content {
  /* max-width: 800px;  */
  margin: 0 auto; 
}
.social-links a {
  color: #fff; 
  text-decoration: none; 
}


.special-link {
  /* z-index: 999; */
  position: absolute;
  margin-top: -81px;
  /* top: 147%;  */
  transform: translateY(-145%); 
  left:1290px;
  z-index: 999;
}
.special-link2 {
  z-index: 999;
  position: absolute;
  margin-top: -10px;
  /* transform: translateY(-145%);  */
  left:1321px;
  top:-58px;
}
.sample-slider {
  width: 70%;
  height: 50%;
  bottom: 800px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 1;
  left: 30px;
  padding: 0;
}

.sample-slider img {
  width: 100%;
  padding: 0;
}



.special-link4{
  left:1265px;
  position: absolute;
  /* margin-top: -2px; */
  /* top: 147%; */
  transform: translateY(-145%); 
  right: 110px; 
}

/* .special-link4:hover {
  background-color: initial; 
  color: initial; 
} */






body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
.rectangleHeader{
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}
.logorectangle{
  background: #DE6A6A;
  width: 160px;
  height: 80px;
  margin-left: 330px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.logorectangle a {
  font-size: 40px;
  color: #FFFFFF;

}
.ButtonRect {
  position: absolute;
  padding: 0; 
  margin-left: 550px;
  margin-top:-55px;
}

.ButtonRect a {
  font-size:20px;
  display: inline-block;
  margin-right: 35px; 
  text-decoration: none;
  color: #0D057C;
}
.UserImgBox, .UserImgBox2, .UserImgBox3 {
  cursor: pointer; 
}
.UserImgBox{
  position: absolute;
  width:270px;
  height:55px;
  background-color: #DE6A6A;
  border-radius: 5px;
  margin-left:1300px;
  margin-top:-70px;
  font-size:20px;
  color: #ffffff;
}
.UserImgBox2{
  position: absolute;
  width:220px;
  height:55px;
  background-color: #DE6A6A;
  border-radius: 5px;
  margin-left:1300px;
  margin-top:-70px;
  font-size:20px;
  color: #ffffff;
}
.UserImgBox3{
  position: absolute;
  width:220px;
  height:55px;
  background-color: #DE6A6A;
  border-radius: 5px;
  margin-left:1300px;
  margin-top:-70px;
  font-size:20px;
  color: #ffffff;
}
.UserImgBox img {
  margin-top:-8px;
}
.UserImgBox3 img {
  margin-top:-8px;
}
.imgdiv{
  margin-top:5px;
  margin-left:10px;
}

.TextElemment{
  position: absolute;
  margin-left: 80px;
  margin-top:13px;
}
.greyRect1{
  width:100%;
  height:1px;
  background-color: #D9D9D9;
}
.rectangleHeader2{
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
}

.ButtonRect2 {
  position: absolute;
  padding: 0; 
  margin-left: 570px;
  margin-top:-45px;
}

.ButtonRect2 a {
  font-size:20px;
  display: inline-block;
  margin-right: 35px; 
  text-decoration: none;
  color: #0D057C;
}

.SearchBox{
  width:540px;
  height:400px;
  position:absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  margin-top:180px;
  margin-left:330px;
  border: 2px solid #D9D9D9; 
  z-index: 999;
}

.sample-slider2 {
  width: 100%;
  height: 800px;
  position: absolute;
  flex-wrap: wrap;
  margin-top: 62px;
  /* margin: 0 auto; */

}

.sample-slider2 img {
  width: 100%;
  height: 90%;
  padding: 0;
  object-fit: cover; 
  object-position: center bottom; 
}

.DepartBox{
  width:235px;
  height:170px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  margin-top:175px;
  margin-left:30px;
}



.input-data  input {
  z-index: 1;
  position: absolute;
  border: 1px solid #afafaf;
  background-color: rgb(245, 245, 245); 
  padding: 8px;
}
.input-data  select {
  z-index: 1;
  position: absolute;
  border: 1px solid #afafaf;
  background-color: rgb(245, 245, 245); 
  padding: 8px;
}
.swiper.sample-slider {
  margin-top: 1200px;
}

.Search_button {
  width: 235px;
  height: 170px;
  background-color: #DE6A6A;
  border: none; 
  border-radius: 10px;
  position: absolute;
  margin-top: 175px;
  color:#FFFFFF;
  margin-left: 275px;
  outline: none; 
  cursor: pointer; 
}
.InfoText1{
  font-size: 30px;
  position: absolute;
  margin-top:-15px;
  margin-left:0px;
}

.InfoText2{
  font-size: 17px;
  position: absolute;
  margin-top:-60px;
  margin-left:100px;
}
.InfoText3{
  font-size: 17px;
  position: absolute;
  color:#939393;
  margin-left:98px;
  margin-top:20px;
}
.InfoText4{
  font-size: 40px;
  position: absolute;
  margin-left:83px;
  margin-top:60px;
}
.InfoText5{
  margin-top:130px;
  font-size: 17px;
  position: absolute;
  color:#939393;
  margin-left:100px;
}

.box1-input, .box2-input, .box3-input, .box4-input {
  position: absolute;
  
}
.box1-input, .box2-input{
  margin-left:30px;
}

.box1-input{
  margin-top:30px;
  border: none;
  
}
.box2-input{
  margin-top:30px;
  margin-left:260px;
  border: none;
}
.box3-input{
  margin-top:80px;
  margin-left:260px;
  border: none;
}

.box4-input{
  margin-top:80px;
  margin-left:30px;
  border: none;
  
}


.box1-input label,
.box2-input label
{
  
  position: absolute;
  top: -16px; 
  margin-left:0px;
  width:180px;
  font-size: 14px;
  color: #858585;
}

.box3-input label,
.box4-input label {
  position: absolute; 
  top: -16px; 
  margin-left:0px;
  width:180px;
  font-size: 14px;
  color: #858585;
}
.box1-input input[type="date"] {
  font-size: 15px;
  border: none;
  font-family:'Nunito Sans', sans-serif;
  color: #c0c0c0;
}
.GreyRect{
  width:100%;
  height:60px;
  margin-top:-80px;
  position:absolute;
  background-color: #e0e0e0;
}
#input:focus {
  outline: none;
}
