#linkBox {
    margin-bottom: 200px;
    margin-left: 350px;
    margin-top: -420px; /* Отрицательное значение для поднятия блока выше */
    width: 230px; /* Ширина блока */
    padding: 10px; /* Внутренний отступ */
    background-color: #f0f0f0; /* Цвет фона */
    border: 1px solid #ccc; /* Граница блока */
    border-radius: 5px; /* Скругление углов */
}

.text_area {
    font-size: 25px;
    width: 1000px; /* Установка ширины блока */
    top: 0; /* Позиция от верхнего края */
    right: 0; /* Позиция от правого края */
    padding: 20px; /* Внутренний отступ */
    margin-right: 0px; /* Отступ справа */
    margin-left: 700px;
}


/* Стили для ссылок */
#linkBox a {
    display: block; /* Ссылки как блочные элементы, чтобы шли одна под другой */
    margin-bottom: 5px; /* Внешний отступ снизу между ссылками */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #333; /* Цвет текста ссылок */
    font-size: 25px;
}
footer {
    background-color: #333;
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    font-family:'Nunito Sans', sans-serif;
    margin-top: 1080px;
  }
  
  .footer-content {
    max-width: 800px; 
    margin: 0 auto; 
  }
  .social-links a {
    color: #fff; /* Белый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
  }


.title1{
    font-size: 40px;
    padding-bottom: 15px;
}

ul {
    list-style-type: disc; /* Стиль буллетов (черные точки) */
    margin-left: 20px; /* Отступ слева для улучшенного визуального восприятия */
}
