body {
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
  font-family: 'Nunito Sans', sans-serif;
  background-image: url('../images/pexels-tomáš-malík-1998439.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FormRectangle {
    background-color: #ffffff;
    width: 800px;
    height: 1400px;
    margin: 30px auto 0;
    border-radius: 20px; 
}

.Formtext1 {
    margin-left: 230px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}


.Formtext2{
    padding-top: 20px;
    font-size: 20px;
    margin-left: 65px;
    width: 680px;
    font-weight: bold;
}
.Formtext3{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 65px;
    width: 680px;
}
.Formtext4{
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
    margin-left: 65px;
    width: 680px;
}
#user-info-form {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 65px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  #user-info-form label {
    margin-bottom: 5px;
  }

  #user-info-form input,
  #user-info-form select {
    margin-bottom: 10px;
  }

  #user-info-form input {
    width: 640px;
    height: 35px;
    border-radius: 15px;
    background: #E7E7E7;
    border: none; 
    outline: none; 
    padding-left: 10px; 
  }
  #user-info-form input::placeholder {
    color: #B1B1B1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px; 
  }
  
  #user-info-form select {
    color: #B1B1B1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px; 
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background: #E7E7E7;
    border: none; 
    outline: none; 
  }
  .Formtext5{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 65px;
    width: 680px;
}
.user-info-form-lined{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 65px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
#user-info-form-lined input{
    width: 115px;
    height: 35px;
    border-radius: 15px;
    background: #E7E7E7;
    border: none; 
    outline: none; 
}
#user-info-form-lined {
    display: flex;
    flex-direction: row; 
  }
  
  .form-group {
    margin-right: 20px; 
  }
  
  .form-group label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  .form-group input {
    width: 150px; 
  }
  .submitButton{
    width:655px;
    height: 80px;
    border-radius: 15px;
    color: #fcfcfc;
    background: #DE6A6A;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 65px;
    font-weight: bold;
    border: none; 
    outline: none; 
  }
  .infotext{
    color: #F30000;
    font-size: 15.6px;
    margin-left: 68px;
  }
footer {
    width: 100%; 
    margin-top: 70px;
    background-color: #333;
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    font-family:'Nunito Sans', sans-serif;
}


  
  .footer-content {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0;
  }
  .footer-content a {
    color: inherit; 
    text-decoration: none; 
  }
  