body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.rectangleHeader{
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}
.logorectangle{
  background: #DE6A6A;
  width: 160px;
  height: 80px;
  margin-left: 330px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.logorectangle a {
  font-size: 40px;
  color: #FFFFFF;

}
.flightName {
  color: #0d057c;
  font-weight: 600;
  position: absolute;
  left: 560px; 
  top: 35px; 
  z-index: 15;
}
.CartImg{
  width: 30px;
  height: 30px;
  margin-left: 75%;
  margin-top:-2.7%;
  position: absolute;
  z-index: 7;
}
.price{
  margin-left: 77%;
  margin-top:-2.3%;
  position: absolute;
  font-size:14px;
  font-weight: bold;
}
.InfoBox{
  /* background-color: #32cd3f49; */
  width:320px;
  height:40px;
  margin-left:330px;
  margin-top: 30px;
}
.Info{
  font-weight:bold;
  color: #0d0768;
 }

 .Info2{
  font-size:13px;
  color: #70707a;
}

.Info3{
  font-size: 17px;
  font-weight: bold;
  margin-top: 90px;
  margin-left: 400px;
  position: absolute;
}

.Info4{
  font-size: 17px;
  margin-top: 95px;
  margin-left: 890px;
  position: absolute;
}

.FormRectangle {
    background-color: #ffffff;
    width: 1000px;
    height: 1200px;
    margin: 200px auto 0;
    border-radius: 5px; 
}

.Formtext1 {
    margin-left: 340px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}


.Formtext2{
    padding-top: 20px;
    font-size: 20px;
    margin-left: 65px;
    width: 890px;
    font-weight: bold;
}
.Formtext3{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 65px;
    width: 680px;
}
.Formtext4{
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
    margin-left: 65px;
    width: 680px;
}
#user-info-form {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 65px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  #user-info-form label {
    margin-bottom: 5px;
  }

  #user-info-form input,
  #user-info-form select {
    margin-bottom: 10px;
  }

  #user-info-form input {
    width: 340px;
    height: 35px;
    /* border-radius: 15px; */
    background: #E7E7E7;
    border: none; 
    outline: none; 
    padding-left: 10px; 
  }
  #user-info-form input::placeholder {
    color: #B1B1B1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px; 
  }
  
  #user-info-form select {
    color: #B1B1B1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px; 
    width: 80px;
    height: 35px;
    /* border-radius: 15px; */
    background: #E7E7E7;
    border: none; 
    outline: none; 
  }
  .Formtext5{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 65px;
    width: 680px;
}
.user-info-form-lined{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 65px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
#user-info-form-lined input{
    width: 115px;
    height: 35px;
    /* border-radius: 15px; */
    border-radius: 0px;
    background: #E7E7E7;
    border: none; 
    outline: none; 
}
#user-info-form-lined {
    display: flex;
    flex-direction: row; 
  }
  
  .form-group {
    margin-right: 20px; 
  }
  
  .form-group label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  .form-group input {
    width: 150px; 
  }
  .submitButton{
    width:655px;
    height: 80px;
    border-radius: 15px;
    color: #fcfcfc;
    background: #DE6A6A;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 180px;
    font-weight: bold;
    border: none; 
    outline: none; 
    position: absolute;
    margin-top:320px;
  }
  .infotext{
    color: #F30000;
    font-size: 15.6px;
    margin-left: 185px;
    margin-top:420px;
    position: absolute;
  }
footer {
    position: absolute;
    margin-top:150px;
    width: 100%; 
    background-color: #333;
    color: #fff; 
    /* padding: 20px;  */
    text-align: center; 
    font-family:'Nunito Sans', sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
  
  .footer-content {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0;
  }
  .footer-content a {
    color: inherit; 
    text-decoration: none; 
  }
  .user-info-form2-lined{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 65px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
#user-info-form2-lined input{
    width: 115px;
    height: 35px;
    /* border-radius: 15px; */
    border-radius: 0px;
    background: #E7E7E7;
    border: none; 
    outline: none; 
}
#user-info-form2-lined {
    display: flex;
    flex-direction: row; 
  }

  #user-info-form2 {
    font-size: 20px;
    margin-top: -299px;
    margin-left: 550px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  #user-info-form2 label {
    margin-bottom: 5px;
  }

  #user-info-form2 input,
  #user-info-form2 select {
    margin-bottom: 10px;
  }

  #user-info-form2 input {
    width: 340px;
    height: 35px;
    /* border-radius: 15px; */
    background: #E7E7E7;
    border: none; 
    outline: none; 
    padding-left: 10px; 
  }
  #user-info-form2 input::placeholder {
    color: #B1B1B1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px; 
  }
  
  #user-info-form2 select {
    color: #B1B1B1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px; 
    width: 80px;
    height: 35px;
    /* border-radius: 15px; */
    background: #E7E7E7;
    border: none; 
    outline: none; 
  }
  .Formtext6{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 550px;
    width: 270px;
    margin-top:-365px;
    position: absolute;
}
.Formtext7{
  font-size: 25px;
  font-weight: bold;
  padding-top: 35px;
  margin-left: 65px;
  width: 680px;
  position:absolute;
}


.user-info-form3-lined{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 65px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
#user-info-form3-lined input{
  width: 115px;
  height: 35px;
  /* border-radius: 15px; */
  border-radius: 0px;
  background: #E7E7E7;
  border: none; 
  outline: none; 
}
#user-info-form3-lined {
  display: flex;
  flex-direction: row; 
}

#user-info-form3 {
  font-size: 20px;
  margin-top: 85px;
  margin-left: 65px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: absolute;

}

#user-info-form3 label {
  margin-bottom: 5px;
}

#user-info-form3 input,
#user-info-form3 select {
  margin-bottom: 10px;
}

#user-info-form3 input {
  width: 340px;
  height: 35px;
  /* border-radius: 15px; */
  background: #E7E7E7;
  border: none; 
  outline: none; 
  padding-left: 10px; 
}
#user-info-form3 input::placeholder {
  color: #B1B1B1;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px; 
}

#user-info-form3 select {
  color: #B1B1B1;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px; 
  width: 80px;
  height: 35px;
  /* border-radius: 15px; */
  background: #E7E7E7;
  border: none; 
  outline: none; 
}
.ScrollBox{
  position:absolute;
  margin-top:140px;
  width:99.80%;
  height:360px;
  border: 1px solid #e9e9e9;
  max-height: 800px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 


}
.table1 {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

.table1 th,
.table1 td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; 
  vertical-align: middle; 
}

.table1 th {
  background-color: #e4e4e4;
  color: #747474;
  font-weight: bold;
}

.table1 tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table1 td button {
  color: #ffffff;
  font-size: 16px;
  background-color: #DE6A6A;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px); 
  height: 20px; 
  box-sizing: border-box;
}
.RezBox5{
  position:absolute;
  margin-left:428px;
  margin-top:60px;
  width:1000px;
  height:800px;
  background-color: #FFFFFF;
  /* border-radius: 10px; */
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  justify-content: space-between;
}
.GreyPlc{
  background-color: #f5f5f5;
  width:100%;
  height:40px;
}
.Infotxt1{
  font-size: 20px;
  margin-left: 8px;
  position: absolute;
  margin-top: 8px;
}
.ChildPlc{
  position: absolute;
  margin-top: 600px;
  margin-left:500px;
  z-index: 5;
}
.AddChildrenForm select,
.AddChildrenForm input {
z-index: 1;
/* position: absolute; */
border: 1px solid rgb(224, 224, 224); 
background-color: rgb(245, 245, 245); 
padding: 8px;
margin-left:20px;
margin-top: 0px;

}
.AddChildrenDiv{
margin-left:320px;
margin-top:-310px;
}
.AddChildrenForm label{
z-index: 1;
/* position: absolute; */
padding: 8px;
margin-left:20px;
margin-top: 10px;

}
.AddChildrenForm label {
display: block;
margin-bottom: 0px; 
}
.add-btn{
color: #ffffff;
position: absolute; 
margin-left: 20px;
background-color: #DE6A6A;
width: 180px;
height: 45px;
font: inherit; 
cursor: pointer; 
outline: none; 
border: none; 
border-radius:5px;
margin-top: 20px;
}
.add-btn2{
color: #ffffff;
position: absolute; 
margin-left: -170px;
background-color: #DE6A6A;
width: 180px;
height: 45px;
font: inherit; 
cursor: pointer; 
outline: none; 
border: none; 
border-radius:5px;
margin-top: 4px;
}
.ButtonBox {
position: absolute;
margin-top:950px;
margin-left:1200px;
}
.downloadBtn3{
position: absolute;
color: #ffffff;
position: absolute; 
background-color: #DE6A6A;
width: 120px;
height: 40px;
font: inherit; 
cursor: pointer; 
outline: none; 
border: none; 
border-radius:5px;
margin-top: 445px;
margin-left: 1305px;
}
.UserTables_table2 {
background-color: #fff;
border: 1px solid #ccc;
padding: 5px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 100%;
border-collapse: collapse;
margin-top:600px;
}

.UserTables_table2 th, .UserTables_table2 td {
border: 1px solid #ccc;
padding: 10px;
text-align: center; 
vertical-align: middle; 
}

.UserTables_table2 th {
background-color: #e4e4e4;
color: #747474;
font-weight: bold;
}

.UserTables_table2 tr:nth-child(even) {
background-color: #f9f9f9;
}

.UserTables_table2 td button {
color: #ffffff;
font-size: 16px;
background-color: #DE6A6A;
font: inherit;
cursor: pointer;
outline: none;
border: none;
border-radius: 5px;
width: calc(100% - 20px); 
margin-top:5px;
height: 20px; 
box-sizing: border-box;
}
