body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.rectangleHeader{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}
.CartImg{
    width: 30px;
    height: 30px;
    margin-left: 75%;
    margin-top:-2.7%;
    position: absolute;
    z-index: 7;
}
.input-main-page{
    position:absolute;
    width:200px;
    height: 40px;
    margin-top:-785px;
    margin-left:-240px;
  }
  .PrevPage {
    /* margin-top: -990px;
    margin-left: 40px; */
    transform: translateY(30px); 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #DE6A6A;
    text-decoration: none;
    position:absolute;
}
.InfoBox{
    /* background-color: #32cd3f49; */
    width:320px;
    height:40px;
    margin-left:330px;
    margin-top: 30px;
}
.flightName {
    color: #0d057c;
    font-weight: 600;
    position: fixed;
    left: 560px; 
    top: 35px; 
    z-index: 15;
}
.InfoBox{
    /* background-color: #32cd3f49; */
    width:290px;
    height:40px;
    margin-left:330px;
    margin-top: 30px;
}
.Info{
    font-weight:bold;
    color: #0d0768;
   }

.Info2{
    font-size:13px;
    color: #70707a;
}

.Info3{
    font-size: 17px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 400px;
    position: absolute;
}

.Info4{
    font-size: 17px;
    margin-top: 95px;
    margin-left: 890px;
    position: absolute;
}

.logorectangle{
    background: #DE6A6A;
    width: 160px;
    height: 80px;
    margin-left: 330px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.logorectangle a {
    font-size: 40px;
    color: #FFFFFF;

}
.price{
    margin-left: 77%;
    margin-top:-2.3%;
    position: absolute;
    font-size:14px;
    font-weight: bold;
}
.PricePlaceBox {
    /* background-color: #f0f0f0; */
    width: 70%;
    height: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid rgb(204, 204, 204); */
    margin-top:22%;
}
.PriceCard1{
    background-color:#FFFFFF;
    width: 100%;
    height: 22%;
    border-radius: 5px;
    border: 2px solid #d3d3d3;
}


.ChooseButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 50%;
    outline: none;
    border: 2px solid #0d0768;
    transition: border-width 0.3s;
    position: relative; 
}

.ChooseButton:checked::after {
    content: ''; 
    width: 43px; 
    height: 43px;
    border-radius: 50%; 
    background-color: #0d0768; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.ChooseButton2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 50%;
    outline: none;
    border: 2px solid #0d0768;
    transition: border-width 0.3s;
    position: relative; 
}

.ChooseButton2:checked::after {
    content: ''; 
    width: 43px; 
    height: 43px;
    border-radius: 50%; 
    background-color: #0d0768; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.Text1{
    position: absolute;
    margin-left: 10%;
    top: 2.3%;
    font-size: 14px;
    font-weight:bold;
}
.Text2{
    position: absolute;
    margin-left: 12%;
    font-size: 60px;
    top: 5%;
}
.Text3{
    position: absolute;
    margin-left: 87%;
    top: 9.6%;
    font-size: 25px;
}
.PriceCard2{
    background-color:#FFFFFF;
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 2px solid #d3d3d3;
}

.Text4{
    position: absolute;
    margin-left: 10%;
    top: 24.7%;
    font-size: 14px;
    font-weight:bold;
}
.Text5{
    position: absolute;
    margin-left: 12%;
    font-size: 60px;
    top: 28%;
}
.Text6 {
    position: absolute;
    margin-left: 87%;
    top: 31%;
    font-size: 25px;
    color: #0d0768; 
}
.Text7{
    position: absolute;
    margin-left: 87%;
    top: 36%;
    font-size: 14px;
    color: #b8b8b8;
}
.Text8 {
    position: absolute;
    margin-left: 36%;
    top: 29%;
    font-size: 18px;
    list-style-type: disc; 
    width:600px;
}
.Text8 li {
    line-height: 1.5; 
}
.Text9 {
    position: absolute;
    margin-left: 5%;
    top: 92.1%;
    font-size: 22px;
}
.Text10 {
    position: absolute;
    margin-left: 16.9%;
    top: 92.1%;
    font-size: 22px;
    text-decoration: underline;
}
.ContinueButton{
    left:88.5%;
    top:90%;
    position: absolute;
    background-color: #DE6A6A;
    border: none; 
    padding: 20px 50px; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
}
.BackButton{
    left:76.5%;
    top:90%;
    position: absolute;
    background-color: #DE6A6A;
    border: none; 
    padding: 20px 50px; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
}