body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  .rectangleHeader{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
  }
  .logorectangle{
    background: #DE6A6A;
    width: 160px;
    height: 80px;
    margin-left: 330px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .logorectangle a {
    font-size: 40px;
    color: #FFFFFF;
  
  }
  .PrevPage {
    margin-top: -85px;
    margin-left: 40px;
    transform: translateY(30px); 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #DE6A6A;
    text-decoration: none;
    position:absolute;
}


  .ButtonRect {
    position: absolute;
    padding: 0; 
    margin-left: 550px;
    margin-top:-55px;
  }
  
  .ButtonRect a {
    font-size:20px;
    display: inline-block;
    margin-right: 35px; 
    text-decoration: none;
    color: #0D057C;
  }
  .HeadImg {
    /* background-color: #ce9f9f; */
    width: 100%;
    height: 770px;
    background-image: url('../images/pexels-vincent-gerbouin-445991-1174732.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center bottom; 
}
  .Text1{
    position: absolute;
    font-size:47px;
    color: #ffffff;
    font-weight: bold;
    margin-top:-650px;
    margin-left:250px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .GreyRect1{
    background-color: #D9D9D9;
    width:100%;
    height:30px;
    position: absolute;
    z-index: -1;
    margin-top: -8px;
  }
  .AddCommentRect {
    background-color: #FFFFFF;
    width: 900px;
    height: 325px;
    border-radius: 5px;
     /* border: 2px solid #0D057C;  */
    margin-left: 500px;
    margin-top: 200px;
    position: absolute;
}
.inputBtn{
  position: absolute;
  margin-left: 100px; 
  margin-top:3px;
  color: #ffffff;
  width:705px;
  font-size:24px;
  height: 30px;
  background-color: #DE6A6A;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
}

  .Text2{
    position: absolute;
    font-size:30px;
    color: #000000;
    margin-left:500px;
    margin-top:165px;
  }

  .AddCommentArea{
    width: 700px;
    height:200px;
    margin-left:100px;
    margin-top: 73px; 
    border: 1px solid #ABABAB;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .AddCommentArea::placeholder {
    color: #cacaca; 
    font-size:17px;
    padding:3px;
}
.UserImg{
  width:85px;
  height:85px;
  position:absolute;
  margin-top:-10px;
  margin-left:15px;
}
.UserImg2{
  width:85px;
  height:85px;
  margin-left:10px;
  margin-top:-5px;
  /* position:absolute;
  margin-top:-10px;
  margin-left:15px; */
}
.name{
  color: #0D057C;
  position:absolute;
  font-size: 17px;
  margin-left:98px;
  margin-top:5px;
}
.name2{
  color: #0D057C;
  position:absolute;
  font-size: 17px;
  margin-left:98px;
  margin-top:-75px;
}
.time{
  margin-left:745px;
  margin-top:-72px;
  position:absolute;
}
.email{
  /* color: #0D057C; */
  position:absolute;
  font-size: 17px;
  margin-left:98px;
  margin-top:33px;
}
.bigRect1{
  margin-left:50px;
}
.comment-container {
  background-color: #ffffff;
  width: 900px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.comment-text{
  /* background-color: #ce9f9f; */
  width:760px;
  height:100px;
  position: absolute;
  margin-left:97px;
  margin-top:-30px;
}
.DeleteBtn{
  position: absolute;
  margin-left: 810px;  
  margin-top:70px;
  color: #ffffff;
  width:60px;
  font-size:24px;
  height: 30px;
  background-color: #DE6A6A;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
}
.EditBtn{
  position: absolute;
  margin-left: 730px;  
  margin-top:70px; 
  color: #ffffff;
  width:60px;
  font-size:24px;
  height: 30px;
  background-color: #DE6A6A;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
}
.Text3{
  position: absolute;
  font-size:30px;
  color: #000000;
  margin-left:550px;
  margin-top:580px;
}
.NamePlace{
  z-index: 1;
  position: absolute;
  border: 1px solid rgb(224, 224, 224); 
  background-color: rgb(245, 245, 245); 
  padding: 5px;
  margin-top: -5px;
  margin-left:97px;
  margin-top:70px;
}
footer {
  position: absolute;
  background-color: #333;
  color: #fff; 
  margin-top:1500px ;
  width:99.9%;
  text-align: center; 
  font-family:'Nunito Sans', sans-serif;
}

.footer-content {
  /* max-width: 800px;  */
  margin: 0 auto; 
}
.social-links a {
  color: #fff; 
  text-decoration: none; 
}
.AddStatus{
  position: absolute;
  margin-left: 220px;  
  margin-top:70px; 
  color: #ffffff;
  width:60px;
  font-size:24px;
  height: 30px;
  background-color: #DE6A6A;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
}
.ApplyEditBtn{
  position: absolute;
  margin-left: 628px;  
  margin-top:297px;  
  color: #ffffff;
  width:60px;
  font-size:24px;
  height: 30px;
  background-color: #DE6A6A;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
  z-index: 999;
}
.EditCommentWindow{
  z-index: 999;
  margin-left:12px;
  margin-top:20px;
  border: 1px solid #ABABAB;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  width:370px;
}
.WhiteRect{
  background-color: #f3f3f3;
  margin-left:300px;
  width:400px;
  height:260px;
  margin-top:70px;
  position:absolute;
  z-index: 997;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
}
.scrollable-box {
  width: 920px;
  height: 700px;
  overflow-y: scroll; 
  margin: 20px auto;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin-left:550px;
  position: absolute;
  z-index: -1;
  margin-top:620px;
}

