
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #4caf50;
    margin-top: 20px;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #4caf50;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    height: 150px;
}


input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/* review.css */


.comment-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}


.comment-header {
    font-weight: bold;
    margin-bottom: 5px;
}


.comment-text {
    margin-bottom: 10px;
}


