body {
    background-color: rgb(48, 48, 48);
  }
  
  .boxtickets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .TicketRectangle{
    width: 750px;
    height: 402px;
    border-radius: 10px;
    background: #FFF;
    
  }
  .line1 {
    width: 1px;
    height: 402.011px;
    background: #BDBDBD;
    margin-left: 165px; 
  }
  
  
  .line2 {
    width: 534.015px;
    height: 1px;
    background: #BDBDBD;
    margin-left: 185px; 
    margin-top: -210px; 
  }
  .InsideBoxTicketUP {
    width: 535px; 
    height: 201px; 
    /* background: #7aff97;  */
    margin-left: 185px;
    margin-top: -193px;
    
  }
  .InsideBoxTicketDOWN{
    width: 535px; 
    height: 201px; 
     /* background: #7aff97;  */
    margin-left: 185px;
    margin-top: 0px;
  }
  .Price{
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    margin-top: -360px;
  }

  .InsideBoxTicketUP .text1 {
    margin-top: -2px; 
    z-index: 2; 
  }
  .text1, .text2 {
    display: inline-block; /* Сделать оба текста блочными элементами */
  }
  .text1 {
    width: 195px;
    height: 35px;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text2 {
    color: #848484;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block; 
    margin-left: -40px;
  }
  .DepartTime {
    display: block; 
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
  }
  
  .ArrivTime{
    display: block;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 435px;
    margin-top: -34px;

  }
  .containerWithRectangles {
    margin-right: 100px; 
    margin-top: 5px;
  }
  
  .rectange3, .rectangle4 {
    display: inline-block;
    width: 97px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 10px;
  }
  .rectange3{
    margin-left: 100px;
  }
  .rectangle4{
    margin-left: 132px;
  }
  .line3 {
    margin-top: -8px;
    width: 329.006px;
    height: 2px;
    background: #BDBDBD;
    margin-left: 100px;
    z-index: 997;
  }
  .text3{
    color: #848484;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -20px;
    margin-left: 210px;
  }
  .ItadArriv,.ItadaDepart{
    display: inline-block;
    margin-left: 137px;
    color: #848484;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .ItadaDepart{
    margin-left: 213px;
  }
  .PlaneIcons{
    margin-top: -40px;
    margin-left: 136px;
  }
  .text4,.text5{
    display: inline-block;
    color: #848484;
    font-family: 'Nunito Sans', sans-serif;
    margin-top:30px;
  }
  .text4{
    margin-left: 20px;
  }
  .text5{
    margin-left: 430px;
  }
  .date1,.date2{
    display: inline-block;
    color: #848484;
    font-family: 'Nunito Sans', sans-serif;
  }
  .date1{
    margin-left: 20px;
  }
  .date2{
    margin-left: 320px;
  }
  .button1{
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    transform: translateY(45px);
    transition: transform .4s ease;
    background: #DE6A6A;
    border-radius: 50px;
    width: 120px;
    height: 43px;
    border:#DE6A6A;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left:23px;
    margin-top: 220px;
  }