body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  .rectangleHeader {
    /* position: fixed; */
    top: 0; 
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    
    /* z-index: 999;  */
    position:absolute;
  }
  .logorectangle{
    background: #DE6A6A;
    width: 160px;
    height: 80px;
    margin-left: 330px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .logorectangle a {
    font-size: 40px;
    color: #FFFFFF;
  
  }
  .policy{
    margin-top:25px;
    margin-left:20px;
    font-size: 17px;
  }
  .greyRect1{
    width:100%;
    height:1px;
    background-color: #D9D9D9;
  }
  .ButtonRect2 {
    position: absolute;
    padding: 0; 
    margin-left: 570px;
    margin-top:-45px;
  }
  
  .ButtonRect2 a {
    font-size:20px;
    display: inline-block;
    margin-right: 35px; 
    text-decoration: none;
    color: #0D057C;
  }
  .rectangleHeader2{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
  }
  .BoxTitle1{
    position: absolute;
    font-size: 45px;
    margin-left: 400px;
    margin-top:-80px;
  }

  .BoxTitle2{
    position: absolute;
    font-size: 45px;
    margin-left: 400px;
    margin-top:600px;
  }
  .InfoBox1{
    position:absolute;
    width:1050px;
    height:550px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #e9e9e9;
    margin-left:400px;
    margin-top:-15px;

  }
  .upload{
    /* z-index: 2; */
    /* position: absolute;  */
    /* margin-top:50px;  */
    /* margin-left:100px;  */

  }
  .InfoBox2{
    position:absolute;
    width:1050px;
    height:350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #e9e9e9;
    margin-left:400px;
    margin-top:660px;

  }
  .InfoBox3{
    position:absolute;
    width:1050px;
    height:1100px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #e9e9e9;
    margin-left:400px;
    margin-top:1090px;
  }
  .AvatharImgBox2{
    position: absolute;
    margin-left:400px;
    z-index: 1;
    margin-top:-50px;
    margin-left:370px;
  } 
  .BoxTitle21{
    position: absolute;
    font-size: 45px;
    margin-left: 400px;
    margin-top:1040px;
    z-index: 999;
  }
  .printerImg{
    position: absolute;
    width:15px;
    height:15px;
    margin-top: 1px;
    margin-left: 3px;
  }
  .printerImg2{
    position: absolute;
    width:15px;
    height:15px;
    margin-top: 1px;
    margin-left: 3px;
  }
  .AvatharImgBox1{
    position: absolute;
    z-index: 1;
    margin-top:25px;
    margin-left:430px;
  } 
  /* .denieBtn{
    position: absolute;
    margin-left: 800px;
    color: #ffffff;
    width:60px;
    height: 27px;
    background-color: #DE6A6A;
    font: inherit; 
    cursor: pointer; 
    outline: none; 
    border: none; 
    border-radius:5px;
  } */
  .Info1{
    position: absolute;
    font-size: 25px;
    margin-left:350px;
    margin-top:30px;
  }
  .InfoBoxSmall {
    width:150px;
    height:200px;
    /* background-color: #0D057C; */
    position: absolute;
    color: #b4b4b4; 
    font-size: 17px; 
    margin-top:80px;
    margin-left:350px;
  }
  .InfoBoxSmall > div {
    margin-bottom: 25px; /* Отступ снизу между div */
  }

  .BackBtn {
    transform: translateY(30px); 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #DE6A6A;
    text-decoration: none;
    position:absolute;
    margin-top:-260px;
    margin-left:70px;
    z-index: 999;
}
.BackBtn2 {
    font-size: 17;
    border: none; 
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #DE6A6A;
    width: 120px;
    height: 70px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute;
    border-radius: 5px;
    margin-top:330px;
    margin-left:510px;
    z-index: 1;
}
.BackBtn3 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #DE6A6A;
  width: 190px;
  height: 70px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: absolute;
  border-radius: 5px;
  margin-top: 270px;
  margin-left: 630px;
  z-index: 1;
  font-size: 16px; 
  text-align: center; 
}
.InfoBoxSmallOutput{
    width:150px;
    height:200px;
    /* background-color: #0D057C; */
    position: absolute;
    font-size: 17px; 
    margin-top:80px;
    margin-left:630px;
}

  .InfoBoxSmallOutput > div {
    margin-bottom: 15px; /* Отступ снизу между div */
  }

  .InfoNumberInfo{
    position: absolute;
     margin-top:10px; 
    margin-left:0px; 
    width:400px;
    z-index: 1;
  } 
  .BigBox{
    margin-top:260px;
  }
  .changebtn5{
    position: absolute;
    margin-top:-180px;
    margin-left:-350px;
    z-index: 1;
  }
  .InfoPost1{
    margin-top:72px;

  }
  .InfoPassword1 input {
    z-index: 1;
    position: absolute;
    border: 1px solid rgb(224, 224, 224); 
    background-color: rgb(245, 245, 245); 
    padding: 8px;
    margin-top: -5px;
    margin-left:0px;
}

.InfoPost1 {
  position: relative;
  padding-right: 20px; 
}

.changebtn3 {
  position: absolute;
  top: 0;
  right: -70px;
}

.changebtn4{
  position: absolute;
  margin-left: 190px;
  margin-top:1px;
}

.RezBox{
    position:absolute;
    margin-top:10px;
    width:99.80%;
    height:110px;
    background-color: #FFFFFF;
    /* border-radius: 10px; */
    border: 1px solid #e9e9e9;
}
.RezBox2{
  position:absolute;
  margin-top:230px;
  width:99.80%;
  height:110px;
  background-color: #FFFFFF;
  /* border-radius: 10px; */
  border: 1px solid #e9e9e9;
  margin-top: 0;
}
.RezBox3{
  position:absolute;
  margin-top:15px;
  width:99.80%;
  height:110px;
  background-color: #FFFFFF;
  /* border-radius: 10px; */
  border: 1px solid #e9e9e9;

}
.RezBox4{
  position:absolute;
  margin-top:145px;
  width:99.80%;
  height:110px;
  background-color: #FFFFFF;
  /* border-radius: 10px; */
  border: 1px solid #e9e9e9;

}
.RezBox5{
  position:absolute;
  margin-top:275px;
  width:99.80%;
  height:460px;
  background-color: #FFFFFF;
  /* border-radius: 10px; */
  border: 1px solid #e9e9e9;

  justify-content: space-between;
}

.RezBox6{
  position:absolute;
  margin-top:660px;
  margin-top:0px;
  width:99.80%;
  height:110px;
  background-color: #FFFFFF;
  /* border-radius: 10px; */
  border: 1px solid #e9e9e9;

}

.BigBox2{
  margin-top:500px;
}
/* .BigBox{
  margin-top:500px;
} */
.ScrollBox{
  position:absolute;
  margin-top:230px;
  width:99.80%;
  height:360px;
  border: 1px solid #e9e9e9;
  max-height: 800px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 

  
}
.downloadBtn3{
  position: absolute;
  color: #ffffff;
  position: absolute; 
  margin-top: 567px; 
  margin-left: 550px;
  background-color: #DE6A6A;
  width: 165px;
  height: 45px;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
}
.downloadBtn4{
  position: absolute;
  color: #ffffff;
  position: absolute; 
  background-color: #DE6A6A;
  margin-left: 900px;
  margin-top:200px;
  width: 165px;
  height: 45px;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
}
.UserTables {

  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

.UserTables th, .UserTables td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; 
  vertical-align: middle; 
}

.UserTables th {
  background-color: #e4e4e4;
  color: #747474;
  font-weight: bold;
}

.UserTables tr:nth-child(even) {
  background-color: #f9f9f9;
}

.UserTables td button {
  color: #ffffff;
  font-size: 16px;
  background-color: #DE6A6A;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px); 
  height: 20px; 
  box-sizing: border-box;
}
.UserTables_table2 {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

.UserTables_table2 th, .UserTables_table2 td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; 
  vertical-align: middle; 
}

.UserTables_table2 th {
  background-color: #e4e4e4;
  color: #747474;
  font-weight: bold;
}

.UserTables_table2 tr:nth-child(even) {
  background-color: #f9f9f9;
}

.UserTables_table2 td button {
  color: #ffffff;
  font-size: 16px;
  background-color: #DE6A6A;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px); 
  margin-top:5px;
  height: 20px; 
  box-sizing: border-box;
}

.table1 {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

.table1 th,
.table1 td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; 
  vertical-align: middle; 
}

.table1 th {
  background-color: #e4e4e4;
  color: #747474;
  font-weight: bold;
}

.table1 tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table1 td button {
  color: #ffffff;
  font-size: 16px;
  background-color: #DE6A6A;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px); 
  height: 20px; 
  box-sizing: border-box;
}


.GreyPlc{
    background-color: #f5f5f5;
    width:100%;
    height:40px;
}
.GreyLine{
    width:3px;
    background-color: #b4b4b4; 
    height:100%;
    position: absolute;
    margin-left:170px;
}
.GreyLine2{
    width:3px;
    background-color: #b4b4b4; 
    height:100%;
    position: absolute;
    margin-left:340px;
}
.GreyLine3{
    width:3px;
    background-color: #b4b4b4; 
    height:100%;
    position: absolute;
    margin-left:510px;
}
.GreyLine4{
    width:3px;
    background-color: #b4b4b4; 
    height:100%;
    position: absolute;
    margin-left:680px;
}
.GreyLine5{
    width:3px;
    background-color: #b4b4b4; 
    height:100%;
    position: absolute;
    margin-left:850px;
}

.RezInfo {
    color: #b4b4b4;
    display: flex; 
    align-items: center; 
    /* justify-content: space-between;  */
    margin-left:65px;
    margin-top:-30px;
}


.RezInfoText2{
    margin-left:120px;
}
.RezInfoText3{
    margin-left:115px;
}
.RezInfoText4{
    margin-left:110px;

}
.RezInfoText5{
    margin-left:73px;
}
.CopyBtn {
    position: absolute;
    margin-left: 870px;
    color: #b4b4b4;
    background-color: #e7e7e7;
    border: none; 
    padding: 4; 
    padding-left: 0;

    width: 110px;
    border-radius: 5px;
    font: inherit; 
    cursor: pointer; 
    outline: none; 
}
/* .downloadBtn{
    color: #ffffff;
    position: absolute; 
    margin-top: -5px; 
    margin-left: 860px;
    background-color: #DE6A6A;
    width: 180px;
    height: 45px;
    font: inherit; 
    cursor: pointer; 
    outline: none; 
    border: none; 
    border-radius:5px;
} */
.UserTable {
  margin-top: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

.UserTable th,
.UserTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.UserTable th {
  background-color: #e4e4e4;
  color: #747474;
  font-weight: bold;
}

.UserTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.UserTable td button {
  color: #ffffff;
  font-size: 16px;
  background-color: #DE6A6A;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px);
  height: 20px;
  box-sizing: border-box;
}
/* .RezInfo2 {
    font-size: 20px;
  
    display: flex; 
    align-items: center; 
  
    margin-left:32px;
    margin-top:30px;
    white-space: nowrap; 
} */
.RezInfo2 {
  position: relative; 
  margin-left:32px;
  margin-top:30px;
  font-size: 20px;
  display: flex; 
}

.RezInfo2 > * {
  position: absolute; 

  top: 0;
  left: 15px;
  /* или */
  bottom: 0;
  right: 0;
}



.BoxTitle3{
  position: absolute;
  font-size: 25px;
  margin-left: 8px;
  margin-top:25px;
}
.Infotxt1{
  font-size: 20px;
  margin-left: 8px;
  position: absolute;
  margin-top: 8px;
}
.TimeInfo1{
    display: flex; 
    align-items: center; 
    position: absolute;
    margin-left: 577px;
    margin-top:20px;
}
.Reiss{
  margin-left:-10px;
  position: absolute;
}
.Vieta{
    margin-left:200px;
    position: absolute;
}
.Cena{
    margin-left:350px;
    position: absolute;
}
.Atiešanas_datums{
    margin-left:500px;
    position: absolute;

}
.Ierašanas_datums{
    margin-left:670px;
    position: absolute;
}

.AtLaiks{

}
.IerLaiks{
margin-left: 130px;
} 
.AddChildrenForm select,
.AddChildrenForm input {
  z-index: 1;
  /* position: absolute; */
  border: 1px solid rgb(224, 224, 224); 
  background-color: rgb(245, 245, 245); 
  padding: 8px;
  margin-left:20px;
  margin-top: 0px;

}
.AddChildrenDiv{
  margin-left:320px;
  margin-top:-310px;
}
.AddChildrenForm label{
  z-index: 1;
  /* position: absolute; */
  padding: 8px;
  margin-left:20px;
  margin-top: 10px;

}
.AddChildrenForm label {
  display: block;
  margin-bottom: 0px; 
}
.add-btn{
  color: #ffffff;
  position: absolute; 
  margin-left: 20px;
  background-color: #DE6A6A;
  width: 180px;
  height: 45px;
  font: inherit; 
  cursor: pointer; 
  outline: none; 
  border: none; 
  border-radius:5px;
margin-top: 20px;
}
/* .AddChildrenName{
  position: absolute;
  margin-top:40px;
}
.AddChildrenSurname{
  position: absolute;
  margin-top:90px;
}
.AddChildrenGender{
  position: absolute;
  margin-top:140px;
}
.AddChildrenNationality{
  position: absolute;
  margin-top:200px;
}
.AddChildrenPassNumber{
  position: absolute;
  margin-top:240px;
}
.AddChildrenpassIssuedDate{
  position: absolute;
  margin-top:290px;
}
.AddChildrenpassExpirationDate{
  position: absolute;
  margin-top:340px;
} */
