
#bookings-table {
    border-collapse: collapse;
    width: 100%;
}

#bookings-table th, #bookings-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bookings-table th {
    background-color: #4caf50;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    margin: 0;
}


#user-info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#user-image img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}


#bookings-list {
    margin-top: 20px;
}


.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 5px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

